run = "npm install --include=dev --no-package-lock --no-audit --no-fund && npm run dev:auth"
entrypoint = "index.html"
modules = ["nodejs-22"]

[nix]
channel = "stable-24_11"

[[ports]]
localPort = 3000
externalPort = 80
